body{
    background-color: rgb(0, 0, 0);
    color: white;

}

.larry-section{
    border: solid 1px white;
    height: 100% vh;

    display: flex;
    gap: 10px;


}

.larry-img{
    border: solid 1px blue;
    width: 40%;
}

.larry-img > img{
    width: 100%
}

.larry-dialogue{
    border: solid 1px rgb(255, 0, 128);
    width: 40%;
    
}

.larry-dialogue-text{
    min-height: 60px;
    line-height: 1.5;
}

/* TODO: AUMENTAR A LETRA DO TEXTO */
.larry-dialogue-text p{
    font-size: 50px;
    padding: 10px;
}